body{
    background-color: #141414;
    display: block;
    font-family: "Lato", sans-serif;
}

div, h1 {
    display: block;
}

h3 {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

#main-container {
    background-color: #282828;
    width: 820px;
    height: 1030px;
    margin: 0 auto;
    vertical-align: baseline;
    padding: 0;
}

#header-main {
    background-color: #282828;
    clear: both;
    padding: 0 2px;
    overflow: hidden;
    padding-top: 2px;
    margin: 0;
    vertical-align: baseline;
}

#profile-pic {
    border: 4px solid #e5e5e5;
    margin-right: 20px;
    float: left;
    width: 120px;
    border-radius: 2px;
}

#profile-pic img {
    height: 120px;
    width: 120px;
    vertical-align: top;
}

#pic-name-job {
    overflow: hidden;
    float: left;
    width: 100%;
    max-width: 425px;
}

#name-area {
    padding-top: 15px;
    overflow: hidden;
}

#first-last {
    color: #fff;
}

h1#first-last {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 35px;
    font-weight: 600;
    margin-bottom: 0;
    margin: 0;
    outline: 0;
    padding: 0;
}

#job-title {
    display: block;
    font-size: 18px;
    font-weight: 550;
    line-height: 20px;
    color: #4ca5d0;
    margin-bottom: 10px;
    margin: 0;
    outline: 0;
    padding: 0;
}

#contact-data {
    margin-top: 0;
    height: auto;
    right: 0;
    position: relative;
    right: -30px;
    padding: 2px 10px 0 0;
    overflow: hidden;
    float: right;
    width: 310px;
    font-size: 12px;
    line-height: 20px;
}

#contact-data .contact-row {
    overflow: hidden;
    display: block;
    line-height: 20px;
    color: white;
    font-weight: 700;
}

#contact-data .th {
    width: 90px;
    margin-right: 10px;
    text-align: right;
    display: block;
    float: left;
}

#contact-data .td {
    color: #7b7d82;
}

#about {
    display: block;
    padding: 24px 30px 56px;
}

#about-bio {
    font-size: 14;
    color: #7b7d82;
}

#resume-section {
    position: relative;
    display: block;
}

#resume-body {
    display: block;
    position: relative;
    overflow: hidden;
    padding: 25px 30px 56px;
}

.resume-sidebar {
    padding-top: 1px;
    float: right;
    width: 190px;
    margin-left: 60px;
}

.skills {
    margin-top: 0px;
    display: block;
}

.skills #skills-title {
    color: #fff;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 23px;
}

.skill-bar {
    margin-top: 10px;
}

.skill-type {
    display: block;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    margin-bottom: 4px;
    color: #878787;
}

.bar {
    background-color: #3b3b3b;
    display: block;
    height: 15px;
    width: 100%;
}

.bar-value {
    color: #FFFFFF;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    margin-right: 2px;
    overflow: hidden;
    position: relative;
    vertical-align: top;
}

#bar-blue {
    width: 90%;
    display: block;
    height: 15px;
    overflow: hidden;
    position: relative;
    text-align: right;
    background-color: #327ea3;
}

#bar-aqua {
    width: 80%;
    display: block;
    height: 15px;
    overflow: hidden;
    position: relative;
    text-align: right;
    background-color: #4ca5d0;
}
#bar-green {
    width: 93%;
    display: block;
    height: 15px;
    overflow: hidden;
    position: relative;
    text-align: right;
    background-color: #6ca338;
}
#bar-orange {
    width: 80%;
    display: block;
    height: 15px;
    overflow: hidden;
    position: relative;
    text-align: right;
    background-color: #ffbc38;
}

#graphics {
    margin-top: 55px;
}

.graphics-box {
    display: inline-block;
    height: 9px;
    margin-right: 5px;
    width: 9px;
}

.graphics-section {
    margin-top: -3;
}

#graphics-row {
    overflow: hidden;
}

.graphic-type {
    display: inline;
}

#box-blue {
    background-color: #327ea3;
}

#box-aqua {
    background-color: #4ca5d0;
}

#box-green {
    background-color: #6ca338;
}

#box-red {
    background-color: #e82c0c;
}

#lang {
    margin-top: 55px;
}

.lang-row {
    overflow: hidden;
}

.lang-type {
    margin-right: 5px;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 2px;
}

#lang-circles {
    background: url(http://shifthtml.themerex.net/images/level_bg_dark.png);
    content: "";
    display: inline;
    height: 17px;
    left: 0;
    right: 0;
}

.resume-wrapper {
    padding-top: 5px;
    overflow: hidden;
}

.resume-employment {
    margin-top: 0;
}

.category-header {
    margin-bottom: 32px;
}

.category-title {
    position: relative;
    background: #373737;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    text-transform: uppercase;
    padding: 5px 10px 7px 39px;
    font-weight: 700;
    border-radius: 4px 0 0 4px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: 10px;
}

#employment-icon {
    border-radius: 3px;
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(../images/section_marker.png);
    background-position: 9px 11px;
    background-repeat: no-repeat;
    content: "";
    top: 0;
    left: 0;
    background-color: #ffbc38;
}

.category-post {
    background: none;
    padding-top: 0;
    margin-top: 0;
    display: block;
}

.post-header {
    overflow: hidden;
    margin-bottom: 11px;
}

.post-years {
    color: #646464;
    float: right;
    font-size: 18px;
    line-height: 22px;
}

.post-title {
    overflow: hidden;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    padding-left: 22px;
    margin-bottom: 1px;
    position: relative;
    color: #fff;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#employment-icon {
    position: absolute;
    width: 15px;
    height: 15px;
    background-image: url(../images/post_title_icon.png);
    background-repeat: no-repeat;
    background-position: 5px 3px;
    top: 4px;
    left: 0;
    border-radius: 15px;
    background-color: #ffbc38;
}

.post-subtitle {
    font-size: 14px;
    line-height: 18px;
    color: #9b9b9b;
    padding-left: 23px;
    text-transform: capitalize;
    margin-bottom: 0;
    display: block;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.post-body {

}

