body{
    background-color: #141414;
    display: block;
    font-family: "Lato", sans-serif;
}

div, h1 {
    display: block;
}

#main-container {
    background-color: #282828;
    width: 820px;
    margin: 0 auto;
    vertical-align: baseline;
    padding: 0;
}

#header-main {
    background-color: #282828;
    clear: both;
    padding: 0 2px;
    overflow: hidden;
    padding-top: 2px;
    margin: 0;
    vertical-align: baseline;
}

#profile-pic {
    border: 4px solid #e5e5e5;
    margin-right: 20px;
    float: left;
    width: 120px;
    border-radius: 2px;
}

#profile-pic img {
    height: 120px;
    width: 120px;
    vertical-align: top;
}

#pic-name-job {
    overflow: hidden;
    float: left;
    width: 100%;
    max-width: 425px;
}

#name-area {
    padding-top: 15px;
    overflow: hidden;
}

#first-last {
    color: #fff;
}

h1#first-last {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 35px;
    font-weight: 600;
    margin-bottom: 0;
    margin: 0;
    outline: 0;
    padding: 0;
}

#job-title {
    display: block;
    font-size: 18px;
    font-weight: 550;
    line-height: 20px;
    color: #4ca5d0;
    margin-bottom: 10px;
    margin: 0;
    outline: 0;
    padding: 0;
}

#contact-data {
    margin-top: 0;
    height: auto;
    right: 0;
    position: relative;
    right: -30px;
    padding: 2px 10px 0 0;
    overflow: hidden;
    float: right;
    width: 310px;
    font-size: 12px;
    line-height: 20px;
}

#contact-data .contact-row {
    overflow: hidden;
    display: block;
    line-height: 20px;
    color: white;
    font-weight: 700;
}

#contact-data .th {
    width: 90px;
    margin-right: 10px;
    text-align: right;
    display: block;
    float: left;
}

#contact-data .td {
    color: #7b7d82;
}

#about {
    display: block;
    padding: 24px 30px 56px;
}

#about-bio {
    font-size: 14;
    color: #7b7d82;
}