h1 {
  text-align: center;
  margin-bottom: 50px;
}

h3 {
  margin: 0;
}

.table th {
  text-align: center;
}

#must-click {
  margin-top: 20px;
  font-weight: 400;
}

#whiskey-pic {
  max-width: 100%;
  max-height: 100%;
}

.whiskey-favs {
  display: flex;
  flex-direction: column;
  margin-left: 25%;
}

.whiskey-favs ul {
  list-style-type: none;
  text-align: center;
  padding-left: 5px;
  margin-top: 5px;
}

#profile-pic {
  max-width: 100%;
  max-height: 100%;
}

#whiskey-pic {
  max-width: 100%;
  max-height: 100%;
}

.user-favs {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
}

.user-favs ul {
  list-style-type: none;
  text-align: center;
  padding-left: 5px;
  margin-top: 5px;
}

.navbar {
  display: flex;
  margin-bottom: 0;
  border-radius: 0;
  background-image: url(https://i0.wp.com/www.thewestgatepdx.com/wp-content/uploads/2018/12/westgate_bourbon_glass_dark.jpg?fit=2000%2C716&ssl=1);
  background-size: 40%;
  background-repeat: space;
}

#username~label {
  margin-top: 10px;
}

.row.content {
  height: 450px
}

.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

footer {
  background-color: #555;
  color: white;
  padding: 15px;
}



.forms-container {
  display: flex;
  justify-content: space-evenly;
}

.forms-box {
  justify-content: space-evenly;
}

.form-btn {
  margin-top: 10px;
}

@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }

  .row.content {
    height: auto;
  }
}